aclocal.m4
ar-lib
autom4te.cache
autoscan-*.log
build/
build-cpp11-check/
build-no-tests/
netcalc-*.tar.gz
netcalc-*.tar.xz
compile
config.h*
config.guess
config.guess~
config.log
config.status
config.sub
config.sub~
configure
configure~
configure.scan
depcomp
install-sh
libtool
ltmain.sh
libipcalc.pc
libnetcalc.pc
Makefile
Makefile.in
missing
src/.deps/
src/.dirstamp
src/.libs/
src/*.a
src/*.la
src/*.lo
src/*.o
src/build_config.h
src/netcalc_build_config.h
src/version.h
src/ipv4calc
src/ipv6calc
stamp-h1
test-driver
tests/.deps/
tests/*.log
tests/*.o
tests/*.trs
tests/test_netcalc
tests/test-suite.log
tests/test_ipv4calc
tests/test_ipv4calc_cli
tests/test_ipv6calc
tests/test_ipv6calc_cli
