aclocal.m4
ar-lib
autom4te.cache
autoscan-*.log
build-cpp11-check/
build-no-tests/
build-reapply-shared/
build-reapply-static/
build/
compile
config.guess
config.guess~
config.h*
config.log
config.status
config.sub
config.sub~
configure
configure.scan
configure~
depcomp
install-sh
libipcalc.pc
libnetcalc.pc
libtool
ltmain.sh
Makefile
Makefile.in
missing
netcalc-*.tar.gz
netcalc-*.tar.xz
src/.deps/
src/.dirstamp
src/.libs/
src/*.a
src/*.la
src/*.lo
src/*.o
src/build_config.h
src/ipv4calc
src/ipv6calc
src/netcalc_build_config.h
src/version.h
stamp-h1
test-driver
tests/.deps/
tests/.libs/
tests/*.log
tests/*.o
tests/*.trs
tests/test_ipv4calc
tests/test_ipv4calc_cli
tests/test_ipv6calc
tests/test_ipv6calc_cli
tests/test_netcalc
tests/test-suite.log
